<div class="containerFooter p-4">
    <div class="row align-items-center pt-2">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <b class="footerContactUs footerSubtitle"></b><br class="mb-1">
            <placeholder class="footerText ">R. João Luís de Moura 95,<br> 2530-158 Lourinhã</placeholder><br class="mb-2">
            <img src="images/telephone.svg" class="">
            <placeholder class="footerText pt-4">+351 261459066</placeholder><br class="mb-2">
            <img src="images/envelope.svg" class="">
            <placeholder class="footerText pt-4">example@domain.com</placeholder><br class="mb-2">
            
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center footertitle">
            <h4 class="footerTitle">Professional Solutions, Seamless Success</h4>
        </div>
        <div class="col-md-3 flex ">
            <a class="servicesFooter text-end dropdown-item footerSubtitle" href="index.html"></a>
            <a class="service1foot text-end dropdown-item footerText pt-2" href="#service1Content"></a>
            <a class="service2foot text-end dropdown-item footerText pt-2" href="#service2Content">Cybersecurity as a Service</a>
        </div>
        <hr class="mt-3">
    </div>
    <script src="js/footer.js"></script>
    <div class="row">
        <div class="col-md-3 d-flex justify-content-center align-items-center">
            <a href="https://www.linkedin.com/company/90598358" target="_blank"><img src="images/1656997167linkedin-logo-white.png" width="72px"></a>
        </div>
        <div class="col-md- d-flex justify-content-center align-items-center">
            <small>&copy; Copyright 2024, ENIGMA INFOSEC</small>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>